@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$space: 'Space Mono', monospace;
$sand: #ebcb8b;
$wine: #bf616a;
$grey: #2b303b;

$white: #fff;
$black: #000;

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}